@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    color: rgb(87, 87, 87);
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

html {
    font-family: robotoregular, system-ui, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

h1 {
    font-size: 3em;
    font-weight: 100;
}

header {
    margin-top: 16px;
    padding-left: calc(100vw - 100%);
}

header h1 {
    text-align: center;
    color: brown;
}

nav {
    flex: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 75px;
    background-color: white;
    border-bottom: 1px solid brown;
}

nav button {
    width: 150px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: rgb(241, 172, 21);
    color: white;
    font-weight: bold;
}

nav button:hover {
    background-color: rgb(223, 149, 12);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomesplash {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 700px;
    background-image: url("images/breakfast-2680845_1920.jpg");
    background-size: cover;
    background-position: center;
    margin: 8px 0px 32px 0px;
    align-items: center;
}


.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 800px;
    height: 180px;
    background-color: brown;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.greeting h2 {
    font-size: 4em;
    color: white;
}

.greeting p {
    color: white;
    font-size: 2em;
}

.info {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 40%;
    font-size: 1.5em;
}

.menuintro {
    width: 800px;
    margin-bottom: 32px;
}

.menuintro>h1 {
    font-size: 4em;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    color: brown;
}

.menulist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(300px, 400px));
    justify-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

.menuitem {
    display: grid;
    grid-template-rows: 250px 1fr 1fr;

    width: 300px;
    height: 400px;

    border-radius: 5px;
}

.productimage {
    grid-row: 1/2;
    background-size: cover;
    background-position: left;
    background-color: brown;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.productdescription {
    grid-row: 2/3;
    text-wrap: wrap;
    padding: 16px;
    background-color: brown;
}

.productdescription>p {
    color: white;
}

.productprice {
    grid-row: 3/4;
    font-size: 2em;
    background-color: brown;
    color: white;
    text-align: right;
    padding-right: 16px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.about {
    width: 1000px;
    margin-top: 32px;
}